<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Baseclass.Contrib.Nuget.Output" version="2.1.0" targetFramework="net472" />
  <package id="FParsec" version="1.0.3" targetFramework="net472" />
  <package id="FSharp.Core" version="4.5.4" targetFramework="net472" />
  <package id="MathNet.Numerics" version="4.7.0" targetFramework="net472" />
  <package id="MathNet.Numerics.FSharp" version="4.7.0" targetFramework="net472" />
  <package id="MathNet.Symbolics" version="0.20.0" targetFramework="net472" />
  <package id="Microsoft.Z3.x64" version="4.8.4" targetFramework="net472" />
  <package id="OPTANO.Modeling" version="3.7.0.522" targetFramework="net472" />
  <package id="OPTANO.Modeling.Gurobi" version="9.1.2.26" targetFramework="net472" />
</packages>